    @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

    /* Enrrutamos las variables principales de CSS haciendo una buena practica y facilitando las futuras modificaciones */
    :root {
        --Primary-color: rgb(207, 212, 255);
        /* texto en claro */
        --Secondary-color: rgb(104, 22, 185);
        /* morado intermedio */
        --Terciary-color: rgb(74, 56, 103);
        /* morado oscuro */
        --Primary-background: rgb(248, 246, 233);

        /* Los espacios de cada elemento permition mejor escalavilidad*/
        --gap-small: 0.5em;
        --gap-medium: 1em;
        --gap-large: 2em;
        --padding-section: 3em;
    }

    /* Reset de estilos para la mejor personalización */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    /* Centrado de h */
    h1, h2 {
        text-align: center;
    }

    /* Las especificaciones de la cabecera */
    header {
        background-color: var(--Terciary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--gap-medium) var(--gap-large);
        color: var(--Primary-color);
        flex-wrap: wrap;
        position: relative;
    }

    .logo-container {
        display: flex;
        align-items: center;
        gap: var(--gap-medium);
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    /* Tamaño y estilo del titulo*/
    header h1 {
        font-family: 'Playfair Display', serif;
        font-size: 2.5em;
    }

    .eslogan {
        font-style: italic;
        font-size: 1.2em;
    }

    /* Las especificaciones de la navegación */
    nav {
        background-color: var(--Terciary-color);
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        gap: var(--gap-large);
        padding: var(--gap-medium) 0;

    }

    nav a {
        text-decoration: none;
        color: var(--Primary-color);
        font-size: 1.2em;
        font-weight: bold;
    }

    nav a:hover {
        color: rgb(240, 222, 84);
    }

    /* La colocalcion de los elementos junto a los espacios y fuentes de inicio y sus titulos*/
    .inicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: var(--padding-section) 2em;
        background-color: var(--Primary-background);
        color: var(--Secondary-color);
    }

    .inicio h2 {
        font-family: 'Playfair Display', serif;
        font-size: 3em;
        margin-bottom: var(--gap-medium);
    }

    .inicio p {
        font-family: 'Playfair Display', serif;
        font-size: 1.5em;
        margin-bottom: var(--gap-large);
    }

    /* Estructuración de todas las secciones del sobre nosotros */
    #sobre-nosotros {
        padding: var(--padding-section) 2em;
        text-align: center;
        background-color: var(--Primary-background);

    }

    #sobre-nosotros h2 {
        font-family: 'Playfair Display', serif;
        font-size: 2.5em;
        color: var(--Terciary-color);
        margin-bottom: var(--gap-medium);
    }

    #sobre-nosotros p {
        font-size: 1.2em;
        color: var(--Terciary-color);
        max-width: 800px;
        margin: auto;
    }

    /* Las especificaciones de la sección Productos */
    #productos > h2 {
        font-family: 'Playfair Display', serif;
        font-size: 2.5em;
        color: var(--Terciary-color);
        margin-bottom: var(--gap-large);
    }
    main {
        background-color: var(--Primary-background);
    }
    .productos-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* esto permite que los productos se centren en las pantallas mas pequeñas como móviles, tablets etc..*/
        gap: var(--gap-large);
        padding: var(--gap-large);
    }

    .producto {
        background-color: white;
        border-radius: 15px;
        padding: var(--gap-medium);
        width: 250px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .producto img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: var(--gap-medium);
    }

    .producto h3 {
        font-family: 'Playfair Display', serif;
        color: var(--Terciary-color);
        margin-bottom: var(--gap-small);
    }

    .producto p {
        color: var(--Terciary-color);
        margin-bottom: var(--gap-small);
    }

    .precio {
        font-weight: bold;
        color: var(--Secondary-color);
    }

    /* Especificaciones de la Sección Destacada */
    .destacada {
        background-color: rgb(230, 200, 255);
        border: 2px solid var(--Secondary-color);
        margin: var(--padding-section) 2em;
        padding: var(--gap-large);
        text-align: center;
        border-radius: 15px;
        color: var(--Terciary-color);
    }

    /* Estructuracion y forma del Formulario */
    #contacto {
        padding: var(--padding-section) 2em;
    }

    #contacto h2 {
        font-family: 'Playfair Display', serif;
        font-size: 2.5em;
        color: var(--Terciary-color);
        margin-bottom: var(--gap-medium);
    }

    form {
        background-color: white;
        max-width: 600px;
        margin: auto;
        padding: var(--gap-large);
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
        display: flex;
        flex-direction: column;
        gap: var(--gap-medium);
    }

    input, select, textarea {
        padding: 0.8em;
        border-radius: 10px;
        border: 1px solid #ccc;
        font-size: 1em;
        width: 100%;
    }

    button {
        background-color: var(--Terciary-color);
        color: var(--Primary-color);
        border: none;
        border-radius: 10px;
        padding: 0.8em 1em;
        font-size: 1em;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background-color: var(--Secondary-color);
    }

    /* Footer */
    footer {
        background-color: var(--Terciary-color);
        color: var(--Primary-color);
        text-align: center;
        padding: var(--gap-large);
        font-family: 'Roboto', sans-serif;
    }
    footer a:hover {
        color: rgb(240, 222, 84);
    }

    /* Esta seria la Media Querie que define el comportamiento responsive */
    @media (max-width: 1024px) {
        nav ul {
            flex-wrap: wrap;
            gap: var(--gap-medium);
        }
    }

    @media (max-width: 768px) {
        header {
            flex-direction: column;
            text-align: center;
        }
        .logo {
            width: 80px;
            height: 80px;
        }
        .inicio h2 {
            font-size: 2.5em;
        }
        .inicio p {
            font-size: 1.2em;
        }
        .productos-container {
            flex-direction: column;
            align-items: center; 
            /* 
            con esto los logos a los lados estan centrados para pantallas mas 
            pequeñas haciendolo responsive tanto para móviles como para escritorio
            */
    }

    @media (max-width: 480px) {
        .inicio h2 {
            font-size: 2em;
        }
        .inicio p {
            font-size: 1em;
        }
        .producto {
            width: 90%; /* pero ocuparan casi todo el ancho */
        }
        #sobre-nosotros p {
            font-size: 1em;
        }
        #contacto form {
            padding: 1.5em;
        }
    } 
    }